.custom-line{
    position: relative;
}

.custom-line:before {
    content: "";
    width: 90%;
    height: 2px;
    background: rgb(235, 232, 232);
    left: 5%;
    top: 0;
    position: absolute;
  }

.img-change span:before{
    content: "";
    width: 43%;
    height: 2px;
    left: 4px;
    bottom: -8px;
    position: absolute;
    background: black;
}
.img-change span:after{
    content: "";
    width: 43%;
    height: 2px;
    right: 4px;
    bottom: -8px;
    position: absolute;
    background: black;
}