.custom-card{
    box-shadow: 0 .5rem 1rem rgba($black, .15);
    transition: box-shadow 0.5s;
    &:hover{
        box-shadow: 0 1rem 1.5rem rgba($black, .35);
        .custom-text{
            a{
                display: block;
                color:#F9C745;
            }
        }
    }
    &:hover{
        img{
            content: url("./images/04.png");
        }
    }
}
.custom-text a{
    color: black;
}




