.sidebar-line{
    a{
        color: $secondary;
    }
    span{
        display: none;
    }
    &:hover{
        a{
            color: #F9C745;
        }
        span{
            display: inline;
        }
    }
}